<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at $11 per month</h2>
    <p>Cloud hosting is the ability to make applications and websites available on the internet using the cloud.</p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here...">
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>.sg $13</li>
    <li>.space $15</li>
    <li>.info $19</li>
    <li>.net $23</li>
    <li>.xyz $31</li>
  </ul>
</section>