<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Cloud hosting is the ability to make applications and websites available on the internet using the cloud. Cloud hosting pools computing resources from a network of virtual and physical servers, allowing for greater scalability and flexibility to quickly make changes.
    </p>
  </div>
</div>